[SddmGreeterTheme]
Name=DoxIA
Description=DoxIA login screen modeled on the RHEL 8 GDM greeter
Author=Omarchy
Type=sddm-theme
Version=1.0
QtVersion=6
